<footer class="grid">

  <!-- Column 1 -->
  <div class="col-6_sm-12">
    <img class="logo" src="/images/logo.gif" alt="Brand Name Here">
    <p> WVC is a 501(c)3 organization dedicated to providing free veterinary care for sick and injured wildlife </p>
  </div>

  <!-- Column 2 -->
  <div class="col-3_sm-6_xs-12">
    <nav>
      <a href="/index"> Home </a>
      <a href="/about"> About </a>
      <a href="/blog"> Blog </a>
      <a href="/news"> News </a>
      <a href="/vetcare"> Vet Care </a>
      <a href="/resources"> Resources </a>
    </nav>
  </div>

  <!-- Column 3 -->
  <div class="col-3_sm-6_xs-12">
    <nav class="social-nav">
      <a href="/donate"> Donate </a>
      <a href="/gallery"> Gallery </a>
      <!-- add your social links here -->
      <a href="https://www.facebook.com/wildlifevetcare/"> <i class="fa fa-facebook"></i>Facebook </a>
      <a href="https://www.instagram.com/wildlifevetcare/"> <i class="fa fa-instagram"> </i>Instagram</a>
      <a href="https://twitter.com/DocBurwell"> <i class="fa fa-twitter"></i>Twitter</a>
    </nav>
  </div>

</footer>
